<body>
  <form action="/<%=@id%>" method="post">
    <textarea name="text" cols="30" rows="10"><%=@selected_memo["title"]%><%=@selected_memo["content"]%></textarea>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="変更">
  </form>
</body>
